.card {
    width: 30vw;
    margin: 5px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.btn {
    align-items: center;
}

.quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
